anyio
appnope
argon2-cffi
arviz==0.11.4
async-generator
attrs
Babel
backcall
bambi==0.6.3
beautifulsoup4==4.10.0
bleach
blosc==1.10.6
Brotli==1.0.9
brotlipy==0.7.0
bs4==0.0.1
cachetools==4.2.4
certifi==2021.10.8
cffi
cftime==1.5.1
charset-normalizer
click
cloudpickle==2.0.0
crlibm==1.0.3
cryptography
cycler==0.10.0
dash==2.0.0
dash-bootstrap-components==1.0.0
dash-core-components==2.0.0
dash-daq==0.5.0
dash-html-components==2.0.0
dash-renderer==1.1.2
dash-table==5.0.0
decorator
defusedxml
dill==0.3.4
entrypoints==0.3
fastprogress==1.0.0
filelock==3.3.1
Flask
Flask-Compress==1.5.0
fonttools==4.25.0
formulae==0.2.0
future
fuzzywuzzy==0.18.0
git-filter-repo==2.34.0
idna
imageio==2.10.1
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
Jinja2
joblib
json5
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
kiwisolver
lime==0.2.0.1
llvmlite==0.37.0
MarkupSafe
matplotlib
matplotlib-inline
mistune
mplcursors==0.5.1
munkres==1.1.4
nba-api==1.1.9
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
netCDF4==1.5.7
networkx==2.6.3
notebook
numba==0.54.1
numpy==1.20.3
olefile
packaging
pandas==1.2.4
pandocfilters
parso
patsy==0.5.2
pexpect
pickleshare
Pillow==8.4.0
plotly
prometheus-client
prompt-toolkit
ptyprocess
pycparser
Pygments
pyinterval==1.2.0
pymc3==3.11.4
pynndescent==0.5.5
pyOpenSSL
pyparsing
pyrsistent
PySocks
python-dateutil
python-Levenshtein==0.12.2
pytz==2021.3
PyWavelets==1.1.1
PyYAML==5.4.1
pyzmq
qtconsole
QtPy
requests
scikit-image==0.18.3
scikit-learn
scipy
seaborn
semver==2.13.0
Send2Trash
shap==0.40.0
sip
six
slicer==0.0.7
sniffio
soupsieve==2.3.1
statsmodels==0.13.2
tenacity
terminado==0.9.4
testpath
Theano-PyMC==1.1.2
threadpoolctl
tifffile==2021.10.12
tornado
tqdm
traitlets
typing-extensions==3.10.0.2
umap-learn==0.5.2
urllib3==1.26.7
wcwidth
webencodings==0.5.1
Werkzeug
widgetsnbextension
Wikipedia-API==0.5.4
xarray==0.19.0
xgboost==1.5.0
zipp